.avatar {
    /* position: fixed; */
    top: 20px;
    left: 20px;
    width: max-content;
    height: max-content;
    border-radius: 7.5vw;
    background-color: rgba(255, 255, 255, 0.406);
    z-index: 1;

}



.avatar_cover,
.avatar_img {
    height: 50px;
    width: 50px;
    border-radius: 7.5vw;
}


.avatar_cover {
    height: max-content;
    position: relative;
    background-color: rgba(255, 255, 255, 0.323);
    transition: transform 1s;
    transition: width 1s, border-radius 1s, box-shadow 1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar_img {
    background-image: url('../img/Avatar/avatar_1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: transform 1s;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.avatar_img:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

.avatar_name {
    position: absolute;
    right: 0;
    height: 30px;
    padding-right:30px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0);
    border-radius: 8vw;
    display: flex;
    justify-content: right;
    align-items: center;

}


@keyframes colorChange {
    0% {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }

    80% {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }

    90% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: rgb(255, 255, 255);
        text-shadow:
            -0.1vw 0.1vw #999,
            -1vw 1vw 1vw #808080;
    }

}

.expanded {
    width: 150px;
    box-shadow: 0vw 0vw 0.3vw 0.3vw rgba(255, 255, 255, 0.5);
    scale: 0.98;
    background-color: rgba(0, 0, 0, 0.8);

}

.expanded .avatar_img {
    box-shadow: 0vw 0vw 0.3vw 0.3vw rgba(255, 255, 255, 0.5);
}


