.avatar {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: max-content;
    height: max-content;
    border-radius: 7.5vw;
    background-color: rgba(255, 255, 255, 0.406);
    z-index: 1;

}

@media screen and (max-width: 1000px) {
    .avatar {
        top: 3vh;
        left: 3vh;
    }
}

.avatar_cover,
.avatar_img {
    height: 4vw;
    width: 4vw;
    border-radius: 7.5vw;
}

@media screen and (max-width: 1000px) {

    .avatar_cover,
    .avatar_img {
        width: 5vh;
        height: 5vh;
        border-radius: 7.5vh;
    }
}

.avatar_cover {
    height: max-content;
    position: relative;
    background-color: rgba(255, 255, 255, 0.323);
    transition: transform 1s;
    transition: width 1s, border-radius 1s, box-shadow 1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar_img {
    background-image: url('../img/Avatar/avatar_1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: transform 1s;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.avatar_img:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

.avatar_name {
    position: absolute;
    right: 0;
    height: 4vw;
    padding-right: 2vw;
    font-size: 1.5vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 0);
    border-radius: 8vw;
    display: flex;
    justify-content: right;
    align-items: center;

}

@media screen and (max-width: 1000px) {
    .avatar_name {
        height: 5vh;
        font-size: 1.5vh;
        border-radius: 8vh;
        padding-right: 1vh;
    }
}

@keyframes colorChange {
    0% {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }

    80% {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }

    90% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: rgb(255, 255, 255);
        text-shadow:
            -0.1vw 0.1vw #999,
            -1vw 1vw 1vw #808080;
    }

}

.expanded {
    width: 16vw;
    box-shadow: 0vw 0vw 0.3vw 0.3vw rgba(255, 255, 255, 0.5);
    scale: 0.98;
    background-color: rgba(0, 0, 0, 0.8);

}

@media screen and (max-width: 1000px) {
    .expanded {
        width: 16vh;
        box-shadow: 0vh 0vh 0.3vh 0.3vh rgba(255, 255, 255, 0.5);
    }
}

.expanded .avatar_img {
    box-shadow: 0vw 0vw 0.3vw 0.3vw rgba(255, 255, 255, 0.5);
}



/* 模态窗口的基本样式 */
.loaderAfter_modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loaderAfter_modal-content {
    width: 30vw;
    height: 10vw;
    background-color: rgba(255, 255, 255, 0.696);
    padding: 2vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.4vw 0.6vw rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .loaderAfter_modal-content {
        width: 30vh;
        height: 10vh;
        border-radius: 0.5vh;
        padding: 2vh;
        box-shadow: 0 0 0.4vh 0.6vh rgb(255, 255, 255);
    }

}

.loaderAfter_modal-content p {
    margin: 0;
    font-size: 1.5vw;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .loaderAfter_modal-content p {
        font-size: 1.5vh;
    }
}

.loaderAfter_modal-content button {
    margin: 2vw;
    width: max-content;
    padding: 0.5vw 1vw;
    height: max-content;
    font-size: 0.8vw;
    background-color: rgba(6, 0, 0, 0.975);
    color: white;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .loaderAfter_modal-content button {
        margin: 2vh;
        font-size: 0.8vh;
        padding: 0.5vh 1vh;
        border-radius: 0.3vh;
    }
}

.loaderAfter_modal-content button:hover {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.1);
    color: black;
    box-shadow: 0 0 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
    font-size: 0.9vw;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .loaderAfter_modal-content button:hover {
        font-size: 0.9vh;
        box-shadow: 0 0 0.2vh 0.2vh rgba(0, 0, 0, 0.5);
    }
}