.section-banner{
    width: 100%;
    height: 100%;
    position: absolute;
}


.earth {
    width: 40%;
    aspect-ratio: 1 / 1;
    position: absolute;
    overflow: visible;
}

.earth {
    transition: left 0.3s linear;
    background: url(../img/CardImg/earth.jpg);
    background-size: cover;
    animation: earthRotate 30s linear 0s infinite;
    border-radius: 50%;
    box-shadow:
        0px 0px 20px rgba(255, 255, 255, 0.2), -5px 0px 8px rgba(255, 255, 255, 0.788) inset,
        12px 2px 15px rgb(0, 0, 0) inset, -14px -2px 14px rgba(255, 255, 255, 0.758) inset,
        10px 0px 12px rgba(0, 0, 0, 0.628) inset, 13px 0px 18px rgba(175, 168, 168, 0.025) inset;

    transition: all 0.5s ease-in-out;
    overflow: visible;
}


@keyframes earthRotate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100vh 0;
    }
}

@media scren and (max-width: 1000px) {
    @keyframes earthRotate {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 50vw 0;
        }
    }

}


.center_inner_lighting_container:hover .earth {
    box-shadow: 0vh 0vh 2vh rgba(255, 255, 255, 0.2), -0.5vh 0vh 0.8vh rgba(255, 255, 255, 0),
        1.5vh 0.2vh 2.5vh rgb(0, 0, 0), -2.4vh -0.2vh 3.4vh rgba(255, 255, 255, 0.553),
        25vh 0vh 4.4vh rgba(0, 0, 0, 0.628), 15vh 0vh 3.8vh rgba(175, 168, 168, 0.025);
    transform: scale(1.1);
}


.curved-corner-star {
    display: flex;
    position: relative;
}

.curved-corner-bottomleft,
.curved-corner-bottomright,
.curved-corner-topleft,
.curved-corner-topright {
    width: 5px;
    height: 7px;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}



.curved-corner-bottomleft:before,
.curved-corner-bottomright:before,
.curved-corner-topleft:before,
.curved-corner-topright:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
}

.curved-corner-bottomleft:before {
    bottom: 0;
    left: 0;
    box-shadow: -0.5vh 0.5vh 0 0 white;
}

.curved-corner-bottomright:before {
    bottom: 0;
    right: 0;
    box-shadow: 0.5vh 0.5vh 0 0 white;
}

.curved-corner-topleft:before {
    top: 0;
    left: 0;
    box-shadow: -0.5vh -0.5vh 0 0 white;
}

.curved-corner-topright:before {
    top: 0;
    right: 0;
    box-shadow: 0.5vh -0.5vh 0 0 white;
}

@keyframes twinkling {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }
}

.ring {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: rotateX(20deg) rotateY(-15deg);
    position: absolute;
    display: block;
    border: 2px solid rgba(28, 3, 48, 0.987);
    filter: drop-shadow(0 0 10vw white);
    -webkit-animation: ring-rotating 120s infinite alternate;
    animation: ring-rotating 12s infinite alternate;
    mix-blend-mode: luminosity;
    overflow: visible;
}



@keyframes ring-rotating {
    0% {
        transform: rotateX(321deg) rotateY(-147deg);
    }

    10% {
        transform: rotateX(192deg) rotateY(55deg);
    }

    20% {
        transform: rotateX(214deg) rotateY(267deg);
    }


}