.time_card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
    overflow: hidden;
    border-radius: 2px;
}

.time_card:hover {
    box-shadow: rgb(0, 0, 0) 0.5vw 0.5vw 1vw, rgb(0, 0, 0) -0.5vw 0vw 5vw;
}


.time-text {
    font-size: 20px;
    margin: 0vw;
    font-weight: 600;
    text-shadow: 1px -0.1px #fff,
                -0.1px 1px#999,
                -1px 1px 1px #80808080;
}


.time-sub-text {
    font-size: 12px;
}



.day-text {
    font-size: 12px;
}


.moon,.sun {
    font-size: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.3s ease-in-out;
}


.time_card:hover>.moon,.time_card:hover>.sun {
    font-size: 20px;
}

